<div
  class="modal fade"
  id="editEmployeeModal"
  tabindex="-1"
  aria-labelledby="editEmployeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="putPayment()">
          <h2>Edit <b>Payment</b></h2>
          <div class="mb-3">
            <label class="form-label">Payment Detail Id</label>
            <input
              formControlName="paymentDetailId"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Card Owner Name</label>
            <input
              formControlName="cardOwnerName"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="eform.cardOwnerName.touched && eform.cardOwnerName.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="eform.cardOwnerName.errors?.required">
                cardOwnerName is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Card Number</label>
            <input
              formControlName="cardNumber"
              type="text"
              class="form-control"
            />
            <div
              *ngIf="eform.cardNumber.touched && eform.cardNumber.invalid"
              class="alert alert-danger"
            >
              <div *ngIf="eform.cardNumber.errors?.required">
                cardNumber is required.
              </div>
              <div *ngIf="eform.cardNumber.errors?.pattern">
                Enter only number.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-check-label"
              >Expiration Date (MM/YY ex.01/22)</label
            >
            <div class="row">
              <div class="col-md-5">
                <input
                  formControlName="month"
                  type="text"
                  class="form-control"
                  placeholder="month"
                />
                <div
                  *ngIf="eform.month.touched && eform.month.invalid"
                  class="alert alert-danger"
                >
                  <div *ngIf="eform.month.errors?.required">
                    month is required.
                  </div>
                  <div *ngIf="eform.month.errors?.pattern">
                    Enter only number in month (1-12).
                  </div>
                  <div *ngIf="eform.month.errors?.max">
                    max month 12 (december).
                  </div>
                  <div *ngIf="eform.month.errors?.min">
                    min month 1 (january).
                  </div>
                </div>
              </div>

              <div class="col-md-5">
                <input
                  formControlName="year"
                  type="text"
                  class="form-control"
                  placeholder="Year"
                />
                <div
                  *ngIf="eform.year.touched && eform.year.invalid"
                  class="alert alert-danger"
                >
                  <div *ngIf="eform.year.errors?.required">
                    year is required.
                  </div>
                  <div *ngIf="eform.year.errors?.pattern">
                    Enter only number in year format (YY).
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ngx-spinner></ngx-spinner>
          <div class="modal-footer">
            <button
              id="cancelbtn"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <input
              type="submit"
              class="btn btn-success"
              value="Save Update"
              [disabled]="!editForm.valid"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
